<section class="block block-section">
  <a class="anchor" id="{{ slug }}"></a>

  <div class="block-background"
       style="background-image:
               linear-gradient(
               to bottom,
               rgba(0, 0, 0, 0.85),
               rgba(0, 0, 0, 0) 200px,
               rgba(0, 0, 0, 0),
               rgba(0, 0, 0, 0) 400px,
               rgba(0, 0, 0, 1)
               ),
               linear-gradient(
               to left,
               rgba(0, 0, 0, 0.60),
               rgba(0, 0, 0, 0) 200px,
               rgba(0, 0, 0, 0)
               ),
               url({{ bg }})
               "></div>

  <div class="block-title">
    <div>
        {% if icon is defined %}<img src="{{ icon }}">{% endif %}
      <a href="#{{ slug }}"><h1>{{ title }}</h1></a>
    </div>
    <span>{{ subtitle }}</span>
  </div>

  <div class="block-content">
    <div class="description">
      <div id="{{ slug }}-0">{{ description|augment|raw }}</div>
    </div>

    {% block more %}{% endblock %}
  </div>
</section>