<div class="breadcrumb">
  <div class="line"></div>
  <div class="breadcrumb-items">
    <a href="{{ path('rules.all_abilities') }}" {% if arcane is not defined %}class="active"{% endif %}>
      <img src="{{ asset('resources/images/arcane/icons/arcane.svg') }}" alt="Toutes les capacités">
      <span>Index</span>
      <div class="bullets">
        <div class="bullet-default"></div>
        <div class="bullet-active"></div>
      </div>
    </a>
    {% for arcaneBreadcrumb in arcanes %}
    <a href="{{ path('rules.abilities', {'slug': arcaneBreadcrumb.slug}) }}" {% if arcane is defined and arcane == arcaneBreadcrumb %}class="active"{% endif %}>
      <img src="{{ asset('resources/images/arcane/icons/'~arcaneBreadcrumb.id~'.svg') }}" alt="{{ arcaneBreadcrumb.name }}">
      <span>{{ arcaneBreadcrumb.name }}</span>
      <div class="bullets">
        <div class="bullet-active"></div>
        <div class="bullet-default"></div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>