{% extends 'layout.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var abilities \App\Entity\Rule\Ability #}

{% block page %}abilities{% endblock %}

{% block header %} 
  <h1>Les règles</h1>
  <h2>Capacités</h2>
{% endblock %}

{% block container %} 
  <!-- Breadcrum - Fil d'ariane -->
  <div class="breadcrum">
    <div class="line"></div>
    <div class="breadcrum-items">
      <a href="#" class="active">
        <img src="{{ asset('resources/images/arcanes/source.svg') }}" alt="La Source">
        <span>La Source</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/ether.svg') }}" alt="L'Ether">
        <span>L'Ether</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/essence.svg') }}" alt="L'Essence">
        <span>L'Essence</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/purge.svg') }}" alt="La Purge">
        <span>La Purge</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/toile.svg') }}" alt="La Toile">
        <span>La Toile</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/esprit.svg') }}" alt="L'Esprit">
        <span>L'Esprit</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/voile.svg') }}" alt="Le Voile">
        <span>Le Voile</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>

      <a href="#">
        <img src="{{ asset('resources/images/arcanes/etau.svg') }}" alt="L'Etau">
        <span>L'Etau</span>
        <div class="bullets">
          <div class="bullet-default"></div>
          <div class="bullet-active"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="block block-intro">
    <p>Un initié ou une aberration maîtrisant un arcane particulier est capable d'acquérir des capacités liées à ce dernier lui conférant alors des pouvoirs surnaturels.</p>
  </div>

  <section>
    <div>
      <div class="block-title">
        <div>
          <img src="{{ asset('resources/images/arcanes/source.svg') }}" alt="La Source">
          <h1>La Source</h1>
        </div>
        <span>La Source est l'énergie qui parcourt le monde matériel</span>
      </div>

      <div class="block block-split">
        <div class="block-content">
          <div class="block-content-title">
            <h2>Combustion</h2>
            <span>Peut initier des réactions de combustion<span>
            <div class="title-underline"></div>
          </div>

          <p>Le personnage est capable d'enflammer l'air environnant en un instant, il contrôle parfaitement la puissance et la portée de son pouvoir lui permettant de régler l'intensité de la réaction à volonté. Cela lui permet par exemple de brûler ses ennemies à distance, créer un feu à partir de matériaux inflammables, cuire de la nourriture, etc.</p>

          <p>Grâce à un jet d'Attaquer à distance, il peut infliger une blessure de degré I. Il résiste aux brûlures.</p>

          <div class="block-content-title">
            <span>Augmentation<span>
          </div>
          <p>Augmente d'un degré la blessure infligée</p>
        </div>

        <div class="bg-abilities1"></div>

        <img src="{{ asset('resources/images/arcanes/source-bg.svg') }}" alt="La Source">
      </div>

      <div class="block block-split reverse">
        <div class="block-content">
          <div class="block-content-title">
            <h2>Courant électrique</h2>
            <span>Peut générer des courants électriques<span>
            <div class="title-underline"></div>
          </div>

          <p>Le personnage est capable de produire des décharges électriques puissantes au contact, il contrôle parfaitement la puissance de son pouvoir lui permettant de régler l'intensité du courant à volonté. Cela lui permet par exemple d'électrocuter ses ennemies au contact, émettre un halo lumineux, délivrer un courant électrique dans une surface conductrice, etc.</p>

          <p>Grâce à un jet d'Attaquer au contact, il peut infliger une blessure de degré II. Il résiste aux électrocutions.</p>

          <div class="block-content-title">
            <span>Augmentation<span>
          </div>
          <p>Peut blesser à distance</p>
        </div>

        <div class="bg-abilities2"></div>
        
        <img src="{{ asset('resources/images/arcanes/source-bg.svg') }}" alt="La Source">
      </div>
    </div>
  </section>
{% endblock %}
