{% extends 'layout.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var arcane \App\Entity\Rule\Arcane #}
{# @var arcanes \App\Entity\Rule\Arcane #}
{# @var abilities \App\Entity\Rule\Ability #}

{% block pageheader %}abilities{% endblock %}
{% block pagemain %}abilities{% endblock %}

{% block header %} 
  <div class="header" style="background: url({{ asset('resources/images/arcanes/bg-img/'~arcane.slug~'.jpg') }}) no-repeat center; background-size: cover;">
    <div class="header-content-wrapper">
      <h1>Les règles</h1>
      <h2>Capacités de {{ arcane.name }}</h2>
    </div>
  </div>
{% endblock %}

{% block container %} 
  {# Breadcrumb #}
  <div class="breadcrumb">
    <div class="line"></div>
    <div class="breadcrumb-items">
      {% for arcaneBreadcrumb in arcanes %}
        <a href="{{ path('rules.abilities', {'slug': arcaneBreadcrumb.slug}) }}" {% if arcane == arcaneBreadcrumb %}class="active"{% endif %}>
          <img src="{{ asset('resources/images/arcanes/'~arcaneBreadcrumb.slug~'.svg') }}" alt="La Source">
          <span>{{ arcaneBreadcrumb.name }}</span>
          <div class="bullets">
            <div class="bullet-default"></div>
            <div class="bullet-active"></div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="block block-intro">
    <p>{{ arcane.description|raw }}</p>
  </div>

  <section>
    <div>
      {% for ability in abilities %}
      <div class="block-title">
        <div>
          <h1>{{ ability.name }}</h1>
        </div>
        <span>{{ ability.short }}</span>
      </div>

      <div class="block block-split">
        <div class="block-content">
          <p>{{ ability.description|raw }}</p>
        </div>

        <div class="bg-ability" style="background: url({{ asset('resources/images/abilities/'~ability.slug~'.jpg') }}) no-repeat center; background-size: cover;"></div>

        <img src="{{ asset('resources/images/arcanes/source-bg.svg') }}" alt="La Source">
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
