{% extends 'layout-rules.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var arcane \App\Entity\Rule\Arcane #}
{# @var arcanes \App\Entity\Rule\Arcane[] #}
{# @var abilities \App\Entity\Rule\Ability[] #}

{% set header_bg = asset('resources/images/arcanes/'~arcane.id~'.jpg') %}
{% set subtitle = 'Capacités de '~arcane.name %}

{% block container %}
  {{ include('includes/rules/breadcrumb_abilities.html.twig', [arcanes, arcane]) }}

  <div class="block-intro">
    <p>{{ arcane.description|raw }}</p>
  </div>

  <section>
    {% for ability in abilities %}
    <div class="block" style="background-image: 
    linear-gradient(to bottom, black, rgba(0, 0, 0, 0), black),
    url({{ asset('resources/images/abilities/'~ability.id~'.jpg') }})">
      <a class="anchor" id="{{ ability.slug }}"></a>
      <div class="block-title">
        <div>
          <h1>{{ ability.name }}</h1>
        </div>
        <span>{{ ability.short }}</span>
      </div>

      <div class="block-content">
        <p>{{ ability.description|raw }}</p>
        {% if ability.abilitiesRequired|length > 0 %}
          <span class="need"><span>Nécessite :</span> {{ ability.abilitiesRequired|join(', ') }}</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock %}
