{% extends 'layout.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var arcane \App\Entity\Rule\Arcane #}
{# @var arcanes \App\Entity\Rule\Arcane #}
{# @var abilities \App\Entity\Rule\Ability #}

{% block pageheader %}abilities{% endblock %}
{% block pagemain %}abilities{% endblock %}

{% block header %} 
  <div class="header" style="background-image: url({{ asset('resources/images/arcanes/bg-img/'~arcane.id~'.jpg') }});">
    <div class="header-content-wrapper">
      <h1>Les règles</h1>
      <h2>Capacités de {{ arcane.name }}</h2>
    </div>
  </div>
{% endblock %}

{% block container %} 
  {{ include('includes/rules/breadcrumb.html.twig', [arcanes, arcane]) }}

  <div class="block block-intro">
    <p>{{ arcane.description|raw }}</p>
  </div>

  <section>
    <div>
      {% for ability in abilities %}
      <div id="{{ ability.slug }}" class="block-title">
        <div>
          <h1>{{ ability.name }}</h1>
        </div>
        <span>{{ ability.short }}</span>
      </div>

      <div class="block block-split">
        <div class="block-content">
          {# Tabs #}
          <div class="tabs-wrapper">
            <div>
              <ul class="tabs">
                <li class="tab"><a href="#test1">Test 1</a></li>
                <li class="tab"><a class="active" href="#test2">Test 2</a></li>
              </ul>
            </div>
            <div id="test1"><p>{{ ability.description|raw }}</p></div>
            <div id="test2"><p>{{ ability.description|raw }}</p></div>
          </div>
        </div>

        <div class="bg-ability" style="background: url({{ asset('resources/images/abilities/'~ability.id~'.jpg') }}) no-repeat center; background-size: cover;"></div>

        <img src="{{ asset('resources/images/arcanes/'~arcane.id~'-bg.svg') }}" alt="La Source">
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
