{% extends 'layout.html.twig' %}

{# /règles/capacités-arcaniques #}
{# @var description #}
{# @var arcanes \App\Entity\Rule\Arcane[] #}

{% block page %}abilities{% endblock %}
{% block pagemain %}abilities{% endblock %}

{% block header %} 
  <div class="header" style="background-image: url({{ asset('resources/images/bg-header-abilities.jpg') }});">
    <div class="header-content-wrapper">
      <h1>Les règles</h1>
      <h2>Toutes les capacités</h2>
    </div>
  </div>
{% endblock %}

{% block container %}
{{ include('includes/rules/breadcrumb.html.twig', [arcanes]) }}

<div class="block block-intro">
  <p>{{ description|raw }}</p>
</div>

{% for entry in map %}
  {# @var arcane \App\Entity\Rule\Arcane #}
  {% set arcane = entry['arcane'] %}

  <div class="block-title">
    <div>
      <img src="{{ asset('resources/images/arcanes/'~arcane.id~'.svg') }}" alt="La Source">
      <h1>{{ arcane.name }}</h1>
    </div>
    <span>{{ arcane.short }}</span>
  </div>

  <div class="block block-group">
    {% set abilities = entry['abilities'] %}
    {% for ability in abilities %}
      {# @var ability \App\Entity\Rule\Ability #}
      <a class="block-group-item" href="{{ path('rules.abilities', {'slug': arcane.slug})~'#'~ability.slug }}" style="background-image: url({{ asset('resources/images/abilities/'~ability.id~'.jpg') }});">
        <div>
          <h2>{{ ability.name }}</h2>
          <p>{{ ability.short }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
