{% extends 'layout-rules.html.twig' %}

{# /règles/équipements #}
{# @var category \App\Entity\Rule\StuffCategory #}
{# @var categories \App\Entity\Rule\StuffCategory[] #}
{# @var stuff \App\Entity\Rule\CanonicalStuff[] #}

{% set header_bg = asset('resources/images/stuff_category/'~category.id~'.jpg') %}
{% set subtitle = category.name %}

{% block container %}
  {{ include('includes/rules/breadcrumb_stuff.html.twig', [categories, category]) }}

  <div class="block block-intro">
    <p>{{ description|raw }}</p>
  </div>

  <section>
    <div>
        {% for stuffItem in stuff %}
          <a class="anchor" id="{{ stuffItem.slug }}"></a>
          <div id="{{ stuffItem.slug }}" class="block-title">
            <div>
              <h1>{{ stuffItem.name }}</h1>
            </div>
            <span>{{ stuffItem.short }}</span>
          </div>

          <div class="block block-split">
            <div class="block-content">
              <p>{{ stuffItem.description|raw }}</p>
            </div>

            <div class="bg-block" style="background-image: url({{ asset('resources/images/stuff/'~stuffItem.id~'.jpg') }})"></div>

            <img src="{{ asset('resources/images/categories/icons/'~category.id~'-bg.svg') }}" alt="{{ category.name }}">
          </div>
        {% endfor %}
    </div>
  </section>
{% endblock %}
