<nav class="navbar">
  <div class="navbar-container">
    <a class="logo" href="{{ path('home') }}">
      <img src="{{ asset('resources/images/logo-navbar.svg') }}" alt="Logo Les Initiés"> 
      <div>
        <span>Les</span>
        <span>Initiés</span>
      </div>
    </a>

    {% set route = app.request.attributes.get('_route') %}
    {% set realm = route|split('.')[0] %}

    <ul class="tabs">
      <li{% if realm == 'universe' %} class="active"{% endif %}>
        <a href="{{ path('universe') }}">Univers</a>
        <ul>
          <li><a href="{{ path('universe.arcanes') }}">Arcanes</a></li>
          <li><a href="{{ path('universe.deities') }}">Divinités</a></li>
        </ul>
      </li>
      <li{% if realm == 'rules' %} class="active"{% endif %}>
        <a href="{{ path('rules') }}">Règles</a>
        <ul>
          <li><a href="{{ path('rules.attributes') }}">Attributs</a></li>
          <li><a href="{{ path('rules.all_abilities') }}">Capacités</a></li>
          <li><a href="{{ path('rules.characteristics') }}">Caractéristiques</a></li>
          <li><a href="{{ path('rules.all_bursts') }}">Décharges</a></li>
          <li><a href="{{ path('rules.all_stuff') }}">Equipements</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ path('tools') }}">Outils</a>
        <ul>
          <li><a href="{{ path('lexicon') }}">Lexique</a></li>
            {#<li><a href="{{ path('tools') }}">Créer une guild</a></li>#}
            {#<li><a href="{{ path('tools') }}">Créer un personnage</a></li>#}
        </ul>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar-mobile">
  <div class="navbar-header">
      <svg class="navbar-toggler" version="1.1" 
           id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="459px" 
           height="459px" 
           viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
        <g>
          <g id="menu">
            <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"/>
          </g>
        </g>
      </svg>
      <a class="logo" href="{{ path('home') }}">
        <img src="{{ asset('resources/images/logo-navbar.svg') }}" alt="Logo Les Initiés"> 
        <div>
          <span>Les</span>
          <span>Initiés</span>
        </div>
      </a>
  </div>

  <div class="burger-wrapper">
    <div class="filter navbar-toggler"></div>
    <div class="burger">
      <ul>
        <li class="parent-tabs">
          <a href="#">Univers</a>
          <ul>
            <li><a href="#">sous-item</a></li>
            <li><a href="#">sous-item</a></li>
          </ul>
        </li>
        <li class="parent-tabs">
          <a href="#">Règles</a>
          <ul>
            <li><a href="#">sous-item</a></li>
            <li><a href="#">sous-item</a></li>
            <li><a href="#">sous-item</a></li>
            <li><a href="#">sous-item</a></li>
            <li><a href="#">sous-item</a></li>
          </ul>
        </li>
        <li class="parent-tabs">
          <a href="#">Outils</a>
          <ul>
            <li><a href="#">sous-item</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
