<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ subtitle }} - {{ title }} - Les Initiés{% endblock %}</title>

    {# STYLES #}
    <link rel="stylesheet" href="{{ asset('resources/style/css/style.css') }}">
    {% block css %}{% endblock %}

    {# FAVICON #}
    <link rel="icon" type="image/png" href="{{ asset('resources/images/favicon.png') }}?v=1" />

    {# FONTS #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manuale:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  </head>
  <body>
    {{ include('includes/menu.html.twig') }}

    <header>
      {% block header %}
      <div
              class="header"
              style="background-image:
                      linear-gradient(to right, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black),
                      linear-gradient(to bottom, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black),
                      url({{ header_bg|default('') }});"
      >
        <div class="header-content-wrapper">
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
        </div>
      </div>
      {% endblock %}
    </header>

    <main class="main main-{{ domain|default('default') }}">
      <div class="container">
        {% block container %}
        {% endblock %}
      </div>
    </main>

    {# SCRIPTS #}
    <script src="{{ asset('resources/script/jquery-3.0.0.slim.min.js') }}"></script>
    <script src="{{ asset('resources/script/popper.min.js') }}"></script>
    <script src="{{ asset('resources/script/bootstrap.min.js') }}"></script>
    {% block js %}{% endblock %}
    <script src="{{ asset('resources/script/script.js') }}"></script>
</body>
</html>