<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ subtitle }} - {{ title }} - Les Initiés{% endblock %}</title>

    {# STYLES #}
    <link rel="stylesheet" href="{{ asset('resources/style/css/style.css') }}">
    {% block css %}{% endblock %}

    {# FAVICON #}
    <link rel="icon" type="image/png" href="{{ asset('resources/images/favicon.png') }}?v=1" />

    {# FONTS #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manuale:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
  </head>
  <body>
    {{ include('includes/menu.html.twig') }}

    <header>
      {% block header %}
      <div
        class="header"
        style="background-image: 
          linear-gradient(to right, black, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, black),
          linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70%, black),
          url({{ header_bg|default('') }})
        ;"
      >
        <div class="header-content-wrapper">
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
        </div>
      </div>
      {% endblock %}
    </header>

    <main class="main main-{{ domain|default('default') }}">
      <div class="breadcrumb-wrapper">
        {% block breadcrumb %}{% endblock %}
      </div>
      <div class="container">
        {% block container %}{% endblock %}
      </div>
    </main>

    {# SCRIPTS #}
    <script src="{{ asset('resources/script/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('resources/script/popper.min.js') }}"></script>
    <script src="{{ asset('resources/script/bootstrap.min.js') }}"></script>
    <script src="{{ asset('resources/script/jquery.sticky.js') }}"></script>
    <script src="{{ asset('resources/script/script.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block js %}{% endblock %}
</body>
</html>