<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        {% if subtitle is defined %}{{ subtitle }} - {% endif %}
        {% if subtitle is defined %}{{ title }} - {% endif %}
        Les Initiés
    {% endblock %}
    </title>

    {# STYLES #}
    <link rel="stylesheet" href="{{ asset('resources/build/style/css/style.css') }}">
    {% block css %}{% endblock %}

    {# FAVICON #}
    <link rel="icon" type="image/png" href="{{ asset('resources/images/favicon.png') }}?v=1" />

    {# FONTS #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manuale:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
  </head>
  <body>
    {{ include('includes/menu.html.twig') }}

    <header>
      {% block header %}
        {% if header_bg is defined %}
          <div
            class="header"
            style="background-image:
              linear-gradient(to right, black, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, black),
              linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70%, black),
              url({{ header_bg }})
              ;"
          >
            <div class="header-content-wrapper">
              <h2>{{ subtitle|default('') }}</h2>
              <h1>{{ title|default('') }}</h1>
            </div>
          </div>
        {% endif %}
      {% endblock %}
    </header>

    <main class="main main-{{ domain|default('default') }}">
      <div class="breadcrumb-wrapper">
        {% block breadcrumb %}{% endblock %}
      </div>
      <div class="container">
        {% block container %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        <p>Copyright © 2018 Insiders-rpg-v0.0.1. Tous droits réservés | Mentions légales | Conditions d’ulisation</p>
        <p>Wizards of the Coast, Magic: The Gathering, et leur logos sont des marques déposées de Wizards of the Coast LLC aux Etats-Unis et dans les autres pays. ©2014 Wizards. Tous droits réservés.<br>
        Ce site internet n'est ni affilié, ni recommandé, ni sponsorisé, ni approuvé par Wizards of the Coast.</p>

        <nav class="nav-footer">
          <ul>
            <li><a class="parent-tab" href="{{ path('universe') }}">Univers</a></li>
            <li><a href="{{ path('universe.arcanes') }}">Arcanes</a></li>
            <li><a href="{{ path('universe.deities') }}">Divinités</a></li>
          </ul>
          <ul>
            <li><a class="parent-tab" href="{{ path('rules') }}">Règles</a></li>
            <li><a href="{{ path('rules.attributes') }}">Attributs</a></li>
            <li><a href="{{ path('rules.all_abilities') }}">Capacités</a></li>
            <li><a href="{{ path('rules.characteristics') }}">Caractéristiques</a></li>
            <li><a href="{{ path('rules.all_bursts') }}">Décharges</a></li>
            <li><a href="{{ path('rules.all_stuff') }}">Equipements</a></li>
          </ul>
          <ul>
            <li><a class="parent-tab" href="{{ path('tools') }}">Outils</a></li>
            <li><a href="{{ path('lexicon') }}">Lexique</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    {# MODALS #}
    {{ render_rule_modals()|raw }}

    {# SCRIPTS #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('resources/script/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('resources/script/popper.min.js') }}"></script>
    <script src="{{ asset('resources/script/bootstrap.min.js') }}"></script>
    <script src="{{ asset('resources/script/jquery.sticky.js') }}"></script>
    <script src="{{ asset('resources/script/script.js') }}"></script>
    <script src="{{ asset('resources/build/app.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>