{% extends 'layout.html.twig' %}

{# /universe/arcanes #}
{# @var arcanes \App\Entity\Rule\Arcane #}

{% block pageheader %}arcanes{% endblock %}
{% block pagemain %}arcanes{% endblock %}

{% block header %} 
  <div class="header-content-wrapper">
    <h1>L'Univers</h1>
    <h2>Arcanes</h2>
  </div>
{% endblock %}


{% block container %} 
  <div class="block block-intro">
    <p>Les initiés sont capables d'absorber l'énergie des cristaux d'arcanite pour débloquer une sensibilité particulière à des aspects de la réalités appelés arcanes. Un initié ayant débloqué un arcane spécifique acquière alors une compréhension singulière de cette facette de la réalité lui permettant de débloquer par la suite des capacités arcaniques surnaturelles.</p>
  </div>

  <section>
    {% for arcane in arcanes %}
      <div class="block-split-wrapper">
        <div class="block-title">
          <div>
            <img src="{{ asset('resources/images/arcanes/'~arcane.id~'.svg') }}" alt="La Source">
            <h1>{{ arcane.name }}</h1>
          </div>
          <span>{{ arcane.short }}</span>
        </div>
        <div class="block block-split">
          <div class="block-content">
            <p>{{ arcane.description|raw }}</p>
          </div>
          <div class="bg-arcane" style="background: url({{ asset('resources/images/arcanes/bg-img/'~arcane.id~'.jpg') }}) no-repeat center; background-size: cover;"></div>
          <img src="{{ asset('resources/images/arcanes/source-bg.svg') }}" alt="La Source">
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
