{% extends 'layout.html.twig' %}

{# /universe/arcanes #}
{# @var arcanes \App\Entity\Rule\Arcane #}

{% set page = 'arcanes' %}
{% set domain = 'universe' %}

{% block header %} 
  <div class="header-content-wrapper">
    <h1>L'Univers</h1>
    <h2>Arcanes</h2>
  </div>
{% endblock %}


{% block container %} 
  <div class="block block-intro">
    <p>{{ description|raw }}</p>
  </div>

  <section>
    {% for arcane in arcanes %}
      <div class="block-split-wrapper">
        <div class="block-title">
          <div>
            <img src="{{ asset('resources/images/arcanes/'~arcane.id~'.svg') }}" alt="{{ arcane.name }}">
            <h1>{{ arcane.name }}</h1>
          </div>
          <span>{{ arcane.short }}</span>
        </div>
        <div class="block block-split">
          <div class="block-content">
            <p>{{ arcane.description|raw }}</p>
          </div>
          <div class="bg-arcane" style="background: url({{ asset('resources/images/arcanes/bg-img/'~arcane.id~'.jpg') }}) no-repeat center; background-size: cover;"></div>
          <img src="{{ asset('resources/images/arcanes/'~arcane.id~'-bg.svg') }}" alt="{{ arcane.name }}">
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
