{% extends 'layout-universe.html.twig' %}

{# /universe/divinités #}
{# @var deities \App\Entity\Rule\Deity #}

{% set header_bg = asset('resources/images/bg-header-deities.jpg') %}
{% set subtitle = 'Divinités' %}

{% block container %}
  <div class="block-intro">
    <p>{{ description|raw }}</p>
  </div>

  <section>
    {% for deity in deities %}
      <div class="block" style="background-image: 
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0), black),
      url({{ asset('resources/images/deities/'~deity.id~'.jpg') }})">
        <div class="block-title">
          <div>
            <img src="{{ asset('resources/images/arcanes/icons/'~deity.arcane.id~'.svg') }}" alt="{{ deity.name }}">
            <h1>{{ deity.name }}</h1>
          </div>
          <span>{{ deity.dignity }}</span>
        </div>

        <div class="block-content">
          <p>{{ deity.description|raw }}</p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
